@use '/src/styles/colors';

.ProductCard--root {
    > .price {
        color: colors.$secondary;
        margin-top: 8px;
    }

    > .title {
        color: colors.$gray-1;
        line-height: 28px;
        margin-top: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    > .contact-button {
        width: 100%;
        margin-top: 12px;
    }
}
