$green-1: #27742d;
$red-1: #db1020;
$yellow-1: #ffd700;

$black: #000000;
$gray-1: #080908;
$gray-2: #333030;
$gray-3: #707070;
$gray-4: #f4f4f4;
$white: #ffffff;

$primary: $green-1;
$secondary: $red-1;
$tertiary: $yellow-1;
