$green-1: #27742D;
$red-1: #DB1020;
$yellow-1: #FFD700;

$black: #000000;
$gray-1: #080908;
$gray-2: #333030;
$gray-3: #f4f4f4;
$white: #ffffff;

$primary: $green-1;
$secondary: $red-1;
$tertiary: $yellow-1;
