@use '/src/styles/colors';
@use '/src/styles/responsive' as *;

.ProductSection--root {
    > .container {
        width: 100%;
        position: relative;
        > .header {
            align-items: flex-end;
            text-align: center;
            @include lg {
                text-align: unset;
            }

            .Tabs--root {
                justify-content: center;
                @include lg {
                    justify-content: flex-end;
                }
            }
        }
        > .products-container {
            overflow-x: scroll;
            &::-webkit-scrollbar {
                height: 3px;
            }
            &::-webkit-scrollbar-track {
                // border-bottom: 1px solid colors.$gray-3;
                background: transparent;
            }
            &::-webkit-scrollbar-thumb {
                background: colors.$primary;
            }

            // &::-webkit-scrollbar-track-piece:end {
            //     margin-right: 180px;
            // }

            > ul {
                list-style: none;
                margin: 16px 0px;
                padding: 0px;

                @include sm {
                    white-space: nowrap;
                    display: inline-block;
                    margin: 30px 0px;
                }

                > li {
                    padding: 20px 0px;
                    @include sm {
                        width: 300px;
                        display: inline-block;
                        padding: 0px 4px;
                    }
                }

                > :first-child {
                    padding-top: 0px;
                }

                > :last-child {
                    padding-bottom: 0px;
                }
            }
        }

        > .scroll-track {
            height: 1px;
            background: colors.$gray-3;
            position: absolute;
            bottom: 1px;
            left: 0px;
            right: 0px;
        }
    }
}
